a{
    color: inherit;
}

a.textLinks:hover{
    color: #79BEA8;
}

b{
    color: #448D76;
}

body{
    margin: 0%;
    padding: 0%;
    display: flex;
}

ul {
    list-style: none;
}

li{
    font-family: Ubuntu, sans-serif;
    padding: 0.5% 0%;
}

ul li::before {
    content: "\2765";
    color: #093426;
    font-weight: bolder;
    margin-left: -1.5em;
    padding: 0% 1%;
  }

body .sideBar {
    flex: 25%;
    text-align: center;
    background-color: #79BEA8;
}

body .main{
    flex: 75%;
}

.sideBar .profilePic{
    height: 25%;
    width: 100%;
    max-width: 100%;
    padding: 3% 0%;
}

.sideBar .name{
    text-align: center;
    font-family: Sofia, Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    color: #093426;
}

.sideBar .address{
    text-align: center;
    line-height: 0.1;
    font-weight: bolder;
}

.sideBar .address p{
    color: #093426;
}

.sideBar .portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

.sideBar .portfolio .github, .codingame, .stackoverflow{
    flex: 30%;
}

.sideBar .portfolio .github i, .stackoverflow i{
    font-size: 36px;
}

.sideBar .portfolio .github i:hover, .stackoverflow i:hover{
    font-size: 34px;
}

.sideBar .portfolio .codingame img{
    width: 36px;
    height: 36px;
}

.sideBar .portfolio .codingame img:hover{
    width: 34px;
    height: 34px;
}

.main .topic{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #093426;
    margin: 3% 0%;
}

.main #aboutMe{
    padding: 0% 3%;
}

.main #aboutMe p{
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

.main #education{
    padding: 0%;
}

.main #technologies{
    padding: 0%;
}

.main #projects{
    padding: 0% 2%;
}

.main #projects h3{
    color:#23483C;
    margin-bottom: 0%;
    font-size: x-large;
}

.main #projects h5{
    margin: 0% 0% 1% 0%;
}

.main #projects p{
    font-size: large;
}