body{
    margin: 0%;
    padding: 0%;
    display: flex;
}

ul {
    list-style: none;
}

li{
    font-family: Ubuntu, sans-serif;
    padding: 0.5% 0%;
}

ul li::before {
    content: "\2765";
    color: #093426;
    font-weight: bolder;
    margin-left: -1.5em;
    padding: 0% 1%;
  }

a{
    color: inherit;
}

b{
    color: #448D76;
}

body .left {
    flex: 25%;
    text-align: center;
    background-color: #79BEA8;
}

body .right{
    flex: 75%;
}

#address{
    text-align: center;
    line-height: 0.1;
    font-weight: bolder;
}

#portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
}

#aboutMe{
    padding: 0% 3%;
}

#project{
    padding: 0% 2%;
}

#portfolio .github, .codingame, .stackoverflow{
    flex: 30%;
}

#portfolio .codingame img:hover{
    width: 34px;
    height: 34px;
}

 a.textLinks:hover{
    color: #79BEA8;
}

 a.iconLinks:hover{
    color: #0000008a;
}

.profilePic{
    height: 25%;
    width: 100%;
    max-width: 100%;
    padding: 3% 0%;
}

.name{
    text-align: center;
    font-family: Sofia, Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    color: #093426;
}

.city .email .phone {
    color: #23483C;
}

.intro{
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

.topic{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #093426;
    margin: 3% 0%;
}

.projectName{
    color:#23483C;
    margin-bottom: 0%;
    font-size: x-large;
}

.projectDescription {
    font-size: large;
}

.timeline{
    margin: 0% 0% 1% 0%;
}